<!-- navbari css klass ja antud talle kõrguseks 150px ja pandud
taustavärv lightgray, 100% lai, sest kõik div elemendid on 100% laiad -->

<div class="navbar">
  <!-- pildid tulevad img täägi sisse, leian nad source src="" abil õigest
  asukohast, panen neile ka CSS klassi, et anda neile kujundust -->
  <img class="menu-button" routerLink="/" src="assets/webshio.png" alt="">
                      <!-- Angulari lisaatribuut - routerLink vahetab URLi -->
  <button routerLink="admin">Mine admin lehele</button>
  <img class="cart-button menu-button" routerLink="ostukorv" src="assets/cart.png" alt="">
</div>


<!-- ctrl + z -->
