

<!-- <form (ngSubmit)="onSubmit()" #form="ngForm">
  w3schools forms
  https://www.w3schools.com/html/html_forms.asp
</form> -->


<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
  <label>Eseme nimetus</label><br>
  <input ngModel name="title" type="text"><br>
  <label>Eseme hind</label><br>
  <input ngModel name="price" type="number"><br>
  <label>Eseme pilt</label><br>
  <input ngModel name="imgSrc" type="text"><br>
  <label>Eseme kategooria</label><br>
  <input ngModel name="category" type="text"><br>
  <label>Ese aktiivne</label><br>
  <input ngModel name="isActive" type="checkbox"><br>
  <button>Lisa ese</button>
</form>


<!-- 
  URL parameetrite juurde:
ESMASPÄEV: paneme muutuja URLi ja saame selle kätte ning vastavalt sellele näitame
mingit teatud toodet
ActivatedRoute Service-i kaudu

KOLMAPÄEV:
valideeriks sisestatavaid väärtusi
vormi kujundusega
toote kätte saamine

REEDE
toote muutmine
ngForm - praegu, toote lisamiseks
formGroup - toote muutmiseks

NÄDAL PÄRAST -
kategooriate jaoks kõigepealt add-i ja edit-sse dropdown
w3schools select and option (dropdown)
kategooriatele ngFor
hoiame Service-s
teeme lisamise
teeme kustutamise
-->