
<!-- teeb kordust 
  täpselt nii mitu korda korrutatakse ngfor siseseid ridu
  kui palju on elemente "esemed" massiivi sees 

"esemed" on viide .ts muutujale, mis peab seal sees olema

"ese" on viidatud kui 1 element seal massiivis

.pealkiri 
.hind 
abil saan kätte väärtused selle elemendi küljest-->

<!-- <button (click)="onSortByTitleAsc()">Järjesta A-Z</button>
<button (click)="onSortByTitleDesc()">Järjesta Z-A</button> -->
<button (click)="onSortByTitle()">Tähestiku järgi</button>

<!-- <button (click)="onSortByPriceAsc()">Järjesta odavamast</button>
<button (click)="onSortByPriceDesc()">Järjesta kallimast</button> -->
<button (click)="onSortByPrice()">Hinna järgi</button>


<br><br><br>

<div *ngFor="let item of items" class="item">
  <!-- {{ ese | json }} -->
  <div>{{ item.title }}</div>
  <div>{{ item.price }} €</div>
  <img routerLink="ese/{{item.id}}" src="{{ item.imgSrc }}" alt=""><br>
  <button (click)="onAddToCart(item)">{{"Lisa ostukorvi" | translate}}</button>
  <br><br>
</div>