<!-- <ngb-carousel class="carousel-wrapper" *ngIf="images">
                    
  <ng-template *ngFor="let image of images" ngbSlide>
    <div class="picsum-img-wrapper">
               
      <img src="{{image.url}}" alt="{{image.alt}}">
    </div>
    <div class="carousel-caption">
      <h3>{{image.header}}</h3>
      <p>{{image.text}}</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<br><br>



<input type="range" min="0" max="15" [(ngModel)]="wordCount">

<!-- <div>{{ date | date:'shortTime' }}</div>
<div>{{ hind | currency:'EUR' }}</div>
<div>{{ protsent | percent }}</div>
<div>{{ lause | uppercase }}</div>
<div>{{ nimi | titlecase }}</div> -->

<!-- teeb kordust 

  täpselt nii mitu korda korrutatakse ngfor siseseid ridu
  kui palju on elemente "esemed" massiivi sees 

"esemed" on viide .ts muutujale, mis peab seal sees olema

"ese" on viidatud kui 1 element seal massiivis

.pealkiri 
.hind 
abil saan kätte väärtused selle elemendi küljest-->

<!-- <button (click)="onSortByTitleAsc()">Järjesta A-Z</button>
<button (click)="onSortByTitleDesc()">Järjesta Z-A</button> -->
<button (click)="onSortByTitle()">Tähestiku järgi</button>

<!-- <button (click)="onSortByPriceAsc()">Järjesta odavamast</button>
<button (click)="onSortByPriceDesc()">Järjesta kallimast</button> -->
<button (click)="onSortByPrice()">Hinna järgi</button>


<br><br><br>

<div *ngFor="let item of items" class="item" [ngClass]="{newProduct: item.title.toLowerCase().startsWith('new')}">
  <app-item-card [itemInCard]=item [wordCount]=wordCount></app-item-card>
</div>